html,
body {
  background-color: #282a36;
  color: #f8f8f2;
  text-align: center;
}

h1 {
  padding-bottom: 30px;
  padding-bottom: 10px;
}

h2 {
  color: #8be9fd;
}

figcaption {
  color: #6272a466;
  text-align: center;
  font-size: 12px;
}

figcaption a {
  color: #457b9d66;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
  height: 128px;
}

.responsive {
  max-width: 90%;
  height: auto;
}
